.terms-section {
  margin-bottom: 40px;
}
.terms__header {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b0cc0d;
  border-radius: 30px;
  margin-bottom: 42px;
}
.terms__title {
  font-size: 44px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
.terms__subtitle {
  font-size: 34px;
  font-weight: bold;
  color: #b0cc0d;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.terms__body-department {
  margin-bottom: 20px;
}
.terms__body-department__title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.terms__body-department__text {
  text-align: justify;
}
